:root {
  --aquamarine: #1affd5ff;
  --cerulean: #007ea7ff;
  --black: #090909ff;
  --light-black: #444;
  --french-gray: #b8b3beff;
  --neon-green: #0eff0c;
  --ultra-pink: rgb(208, 117, 213);
  --white: #eee;
  --text-color-main: var(--french-gray);
  --text-color-cards: var(--white);
  --background-color: var(--black);
  --card-background-color: var(--light-black);
  --heading-color: var(--neon-green);
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color: var(--text-color-main);
  background-color: var(--background-color);
}

h1 {
  color: var(--heading-color);
}

a {
  color: var(--neon-green);
}

details {
  margin-bottom: 1em;
}

#gameControls {
  width: 100%;
  display: flex;
  margin-bottom: 1em;
}

@media (max-width: 800px) {
  #gameControls {
    justify-content: space-between;
  }
}

.grid {
  margin: 0 auto;
  display: grid;
  height: calc(94px*5);
  width: 95vw;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.pile {
  background-color: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 94px;
}

.pile--valid {
  background-color: var(--neon-green);
}

.pile--drawpile {
  background-color: var(--aquamarine);
}

.pile--outer .mo-card:not(:first-child) {
  margin-left: -60px;
}

.mo-card {
  background-color: var(--card-background-color);
  border: 1px solid var(--french-gray);
  border-radius: 5px;
  height: 90px;
  width: 60px;
  z-index: var(--index);
}

.mo-card:not(:first-child) {
  margin-left: -60px;
}

.mo-card .mo-card__back {
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
}

.mo-card .mo-card__corner {
  font-size: 1.5em;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mo-card .mo-card__rank {
  color: var(--text-color-cards);
  padding-left: 0px;
}

.mo-card .mo-card__suit {
  color: var(--text-color-cards);
}

.mo-card .mo-card__suit.red {
  color: red;
}

.mo-card .mo-card__name {
  display: none;
}
